.doc-module code {
  white-space: nowrap;
}
/*toc 下方广告*/
.adsbygoogle {
  display: block;
  margin-top: 20px;
  min-width: 218px;
  max-width: 276px;
  min-height: 200px;
}

.sidebar .adsbygoogle {
  width: 300px; /* 适用于固定宽度的侧边栏 */
}


.slides {
  display: flex;
  width: 300%;
  height: 100%;
  /*animation: slide 50s forwards;*/
}

.slides img {
  width: 100%;
  height: auto;
}

@keyframes slide {
  0%, 100% { transform: translateX(0); }
  33% { transform: translateX(-33.333%); }
  66% { transform: translateX(-66.666%); }
}
.footer-content {
  display: flex;
  align-items: flex-start; /* 确保它们在垂直方向上对齐 */
}
