site_name: Django Ninja 官方文档
site_description: Django Ninja - 一个具有高性能、易学、快速编码的 Django REST框架。
site_url: https://django-ninja.cn
repo_name: vitalik/django-ninja
repo_url: https://github.com/vitalik/django-ninja
edit_uri: ""
extra:
  analytics:
    provider: google
    property: G-XG4G24K86Y
extra_css:
  - extra.css
extra_javascript:
  - https://cn.vercount.one/js
### Example Configuration ###

# Custom Homepage Elements
home_cover_image: img/hero.png # This path starts at your root mkdocs directory.
home_tagline: Django Ninja - 快速的 Django REST 框架
home_description: |
  Django Ninja 是一个无缝集成 Django， 使用 Python 3.6+ 类型提示构建 API 的网络框架。

# Gradient Color
home_gradient_hsla: hsla(0deg,47%,55%,1) # Default Green: hsla(160deg,47%,55%,1)

# Custom Homepage Button(s)
home_button1_name: 教程                   # Comment this parameter out to remove the button.
home_button1_url: tutorial/                       # This path starts at your root mkdocs directory.
home_button1_theme: md-button md-button--primary # Options: "md-button", "md-button md-button--primary"
home_button1_icon: people                        # Options: "people", "gear", "image"
home_button1_blurb: |                            # Short description of this button / section.
  本教程向您展示如何使用 Django Ninja 的大部分功能。本教程假定您至少了解 Django 框架的一些基础知识，例如如何创建项目并运行它。

home_button2_name: How-to 系列   # Comment this parameter out to remove the button.
home_button2_url: guides/input/operations/    # This path starts at your root mkdocs directory.
home_button2_theme: md-button # Options: "md-button", "md-button md-button--primary"
home_button2_icon: gear       # Options: "people", "gear", "image"
home_button2_blurb: |         # Short description of this button / section.
  包括如何解析传参，处理响应，自定义路由，鉴权，自定义 API 文档，对异步的支持等等。

home_button3_name: 了解更多   # Comment this parameter out to remove the button.
home_button3_url: ./#_1    # This path starts at your root mkdocs directory.
home_button3_theme: md-button # Options: "md-button", "md-button md-button--primary"
home_button3_icon: image      # Options: "people", "gear", "image"
home_button3_blurb: |         # Short description of this button / section.
  Django Ninja 的开发的动机，基准测试，如何上手，快速示例和交互式 API 文档等。

# Homepage Code Execution
home_execute_js: | # Javascript to execute when accessing the homepage
  console.log("This is an example!");
theme:
  name: material
  custom_dir: overrides
  palette:
    - media: "(prefers-color-scheme)"
      primary: green
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: green
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: green
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  logo: img/docs-logo.png
  favicon: img/favicon.png
  language: zh
  features:
    - navigation.expand
    - search.highlight
    - search.suggest
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - navigation.tabs
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.suggest
    - toc.follow
  icon:
    repo: fontawesome/brands/github-alt
nav:
  - 介绍: index.md
  - 开发动机: motivation.md
  - 教程:
      - "入门": tutorial/index.md
      - "解析输入": tutorial/step2.md
      - "处理响应": tutorial/step3.md
      - 其它教程:
          - tutorial/other/video.md
          - tutorial/other/crud.md
          - Django Ninja JWT 文档: django-ninja-jwt/index.md
          - Django Ninja Extra 文档: django-ninja-extra/index.md
          - Django Ninja CRUD 文档: django-ninja-crud/index.md
  - How-to 系列:
      - 解析传参:
          - guides/input/operations.md
          - guides/input/path-params.md
          - guides/input/query-params.md
          - guides/input/body.md
          - guides/input/form-params.md
          - guides/input/file-params.md
          - guides/input/request-parsers.md
          - guides/input/filtering.md
      - 处理响应:
          - 定义新 Schema: guides/response/index.md
          - 调整响应: guides/response/temporal_response.md
          - 从 Django models 中生成 Schema: guides/response/django-pydantic.md
          - 动态生成 Schema: guides/response/django-pydantic-create-schema.md
          - 覆盖 Pydantic 配置: guides/response/config-pydantic.md
          - 分页: guides/response/pagination.md
          - 响应渲染: guides/response/response-renderers.md
      - 通过路由来区分你的 API : guides/routers.md
      - 鉴权: guides/authentication.md
      - 测试: guides/testing.md
      - API 文档: guides/api-docs.md
      - 处理错误: guides/errors.md
      - 反转资源的 URLS 链接: guides/urls.md
      - 异步支持: guides/async-support.md
      - API 版本控制: guides/versioning.md
  - 其它:
    - 参考:
        - NinjaAPI class: reference/api.md
        - reference/csrf.md
        - 操作参数: reference/operations-parameters.md
        - 自定义管理命令: reference/management-commands.md
        - Django 设置: reference/settings.md
        - 发布日志: releases.md
    - 规划中的功能:
        - 简介: proposals/index.md
        - 基于类的操作（cbv）: proposals/cbv.md
        - 提案: proposals/v1.md
    - V1 的新版变化: whatsnew_v1.md
  - Ninja JWT 文档:
    - Ninja JWT 介绍: django-ninja-jwt/index.md
    - Ninja JWT 入门指南: django-ninja-jwt/getting_started.md
    - Ninja JWT 路由鉴权: django-ninja-jwt/auth_integration.md
    - Ninja JWT 配置: django-ninja-jwt/settings.md
    - Ninja JWT 自定义令牌声明: django-ninja-jwt/customizing_token_claims.md
    - Ninja JWT 手动创建令牌: django-ninja-jwt/creating_tokens_manually.md
    - Ninja JWT 令牌类型: django-ninja-jwt/token_types.md
    - Ninja JWT 黑名单应用: django-ninja-jwt/blacklist_app.md
    - Ninja JWT 提交贡献: django-ninja-jwt/development_and_contributing.md
  - Ninja Extra 文档:
      - Ninja Extra 文档: django-ninja-extra/index.md
      - Ninja Extra APIController:
          - Ninja Extra 介绍: django-ninja-extra/api_controller/index.md
          - Ninja Extra API 控制器路由装饰器: django-ninja-extra/api_controller/api_controller_route.md
          - Ninja Extra API 控制器权限: django-ninja-extra/api_controller/api_controller_permission.md
          - Ninja Extra 模型控制器: django-ninja-extra/api_controller/model_controller.md
      - Ninja Extra 用法:
          - Ninja Extra 快速教程: django-ninja-extra/tutorial/index.md
          - Ninja Extra 鉴权: django-ninja-extra/tutorial/authentication.md
          - Ninja Extra 路径传参: django-ninja-extra/tutorial/path.md
          - Ninja Extra 查询传参: django-ninja-extra/tutorial/query.md
          - Ninja Extra 请求体: django-ninja-extra/tutorial/body_request.md
          - Ninja Extra 请求表单: django-ninja-extra/tutorial/form.md
          - Ninja Extra Schema: django-ninja-extra/tutorial/schema.md
          - Ninja Extra 分页: django-ninja-extra/tutorial/pagination.md
          - Ninja Extra 过滤:
              - Ninja Extra 排序: django-ninja-extra/tutorial/ordering.md
              - Ninja Extra 检索: django-ninja-extra/tutorial/searching.md
          - Ninja Extra 错误处理: django-ninja-extra/tutorial/custom_exception.md
          - Ninja Extra API 版本控制: django-ninja-extra/tutorial/versioning.md
          - Ninja Extra 节流: django-ninja-extra/tutorial/throttling.md
          - Ninja Extra 测试: django-ninja-extra/tutorial/testing.md
      - Ninja Extra RouteContext 路由上下文: django-ninja-extra/route_context.md
      - Ninja Extra 设置: django-ninja-extra/settings.md
      - Ninja Extra 依赖注入: django-ninja-extra/service_module_injector.md
      - Ninja Extra 贡献指南: django-ninja-extra/contribution.md
  - Ninja CRUD 文档:
      - Django Ninja CRUD 文档: django-ninja-crud/index.md
      - Ninja CRUD 教程:
        - Ninja CRUD 介绍: django-ninja-crud/guides/01-Introduction.md
        - Ninja CRUD 如何安装: django-ninja-crud/guides/02-Installation.md
        - Ninja CRUD 快速示例: django-ninja-crud/guides/03-Examples.md
  - Pydantic 文档: https://pydantic.com.cn/
  - Logfire 文档: https://pydantic.com.cn/logfire/
  - Starlette 文档: https://pydantic.com.cn/starlette/
  - 在线工具:
    - 996 薪资计算助手: online-tools/index.md
  - 问答集:
    - 开始试用 Django Ninja: coding-qa/django-ninja-testing.md
    - 使用 djoser 进行 Django ninja 令牌身份验证: coding-qa/django-ninja-token-authentication-with-djoser.md
    - Django-Ninja：用于 REST API 的 Python 框架: coding-qa/django-ninja-python-framework-for-rest-api.md
    - 如何处理外键字段: coding-qa/handle_ForeignKey_relations.md
    - Django Rest Framework 与 Django-Ninja：高级别比较: coding-qa/django-rest-framework-vs-django-ninja-a-high-level-comparison.md
    - Django ninja jwt 试用: coding-qa/django-ninja-jwt-starting.md
    - 如何使用 `django-ninja-jwt` 与 `tusd` 的 HTTP Hooks 对接，实现用户身份验证: coding-qa/django-ninja-jwt-tusd-hooks-auth.md
    - 自定义api一级路径后，如何使用export_openapi_schema导出schema文件: coding-qa/customize-api-path-and-export-openapi-schema.md
    - django-ninja中导出 openapi schema为中文: coding-qa/export-openapi-scheme-with-chinese.md
  - 关于本站:
    - 联系站长: contact.md
    - 本站建设: site-build/index.md

markdown_extensions:
  - markdown_include.include
  - markdown.extensions.codehilite:
      guess_lang: false
  # Uncomment these 2 lines during development to more easily add highlights
  #- pymdownx.highlight:
  #    linenums: true
  - abbr
  - codehilite
  - admonition
  - pymdownx.superfences
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          setup_commands:
            - from django.conf import settings
            - settings.configure()
